/*
	Armando Campos 2017
*/

body {
	background-color: #000;
	font-family: 'Libre Baskerville', serif;
	/*font-family: 'Fjalla One', sans-serif;*/
	/*font-family: 'Enriqueta', serif;*/
	font-size: 24px;
}

#wrapper {
	margin: 10px;
	background-color: #FFF;
}

fieldset {
	border: none;
}

/* [ - - General Custom Classes - - ] */

.fnt_enr {
	font-family: 'Enriqueta', serif;
}

.fnt_lib {
	font-family: 'Libre Baskerville', serif;
}

.fnt_fja {
	font-family: 'Fjalla One', sans-serif;
}

.fnt_rob {
	font-family: 'Roboto Condensed', sans-serif;
}

.fnt_bit {
	font-family: 'Bitter', serif;
}

.fnt_ant {
	font-family: 'Anton', sans-serif;
}

.hide {
	display: none;
}

.area {
	margin: 4px;
	padding: 6px;
	border: solid 2px #212121;
	overflow: hidden;
	box-shadow: 4px 4px 2px #212121;
	background: #FFF;
}

.checkered {
	/*background-image: url("assets/checkers.png");*/
	background: #212121;
}

.item {
	float: left;
	display: inline-block;
	padding: 4px;
}

.centext {
	text-align: center;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.divider {
	color: #FFF;
	margin: 20px;
}

.divider2 {
	color: #FFF;
	margin: 0px;
}

.para {
	font-size: 16px;
}

.hover {
	transition: filter 0.2s;
}

.hover:hover {
	filter: brightness(120%);
	cursor: pointer;
}

/* Tooltips */
.tooltip {
	display: block;
}

.tooltip .tooltiptext {
	display: block;
	background-color: #000;
	color: #FFF;
	z-index: 1;
	position: relative;
}

.tooltip:hover .tooltiptext {
	visibility: visible;

}

.sub {
	font-family: 'Libre Baskerville', serif;
	background-color: #FFF;
	border-width: 2px;
	border-color: #000;
}

.btn {
	border: solid 2px #000;
	background: #FFF;
	font-size: 24px;
	color: #000;
	border-radius: 0px;
	transition: color 0.2s, background 0.2s, transform 0.2s, border 0.2s;
	font-family: 'Roboto Condensed', sans-serif;

}

.btn:hover {
	cursor: pointer;
	color: #c1c1c1;
	transform: scale(0.8);
	background: #212121;
	color: #FFD740;
	border-radius: 3px;
	border-color: #BDBDBD;
}

/* - Notifications - */
.notif {
	transition: filter 0.2s, color 0.1s;
}

/* Invalid */
.invalid_off {
	color: #000;
	filter: opacity(0%);
}
.invalid_on {
	color: red;
	filter: opacity(100%);
}

/* Custom Radio Buttons */
.additional {
	font-family: 'Enriqueta', serif;
	font-size: 16px;
	color: #3e3e3e;
	margin: 4px 0px;
}

.rads {
	
}

.rad {
	transition: transform 0.2s, background-color 0.2s;
	transform-origin: 0%;
	float: left;
}

.rad:hover {
	cursor: pointer;
}

.rad_on {

}

.rad_off {

}

.rad_off:hover {
	background-color: #e0e0e0;
}

.resize_m {
	width: 120px;
}

.resize_s {
	width: 100px;
}

.nav {
	display: block;
}

.nav ul {
	text-decoration: none;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 10px;
}

.navb {
	float: left;
	padding: 0px 4px;
	font-size: 16px;
	transition: color 0.2s;
}

.navb:hover {
	color: red;
	cursor: pointer;
}

.form_on {

}

.form_off {
	display: none;
}

.node_item {
	background-color: #FFF;
	border: 2px solid #000;
	position: relative;
	width: 120px;
	justify-content: center;
	float: left;
	text-align: center;
	padding: 4px;
	margin: 2px 2px;
	transition: border-color 0.2s, color 0.2s, transform 0.2s;
	color: #000;
	transform: rotate(6deg);
	box-shadow: 4px 4px 2px #212121;
	font-family: 'Fjalla One', sans-serif;
}

.node_item:hover {
	z-index: 1;
	cursor: pointer;
	border-color: red;
	color: red;
	transform: rotate(0deg);
}

.rad_on > .node_color {
	transform: rotate(60deg);
}

.node_item > img {
	height: 120px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.node_color {
	padding: 2px 16px;
	margin: 0px 2px;
	border: 2px solid #000;
	border-radius: 0px;
	filter: brightness(100%);
	transition: color 0.2s, border-color 0.2s, border-radius 0.2s, transform 0.1s, filter 0.2s;
	color: #FFF;
	font-family: 'Bitter', serif;
}

.node_color:hover {
	color: red;
	border-color: #000;
	border-radius: 2px;
	transform: scale(1.2);
}

.rad_on > .node_color {
	border-color: #000;
	transform: scale(0.8);
}

.bg_white {
	background-color: #FFFFFF;
	color: #000;
}

.bg_black {
	background-color: #000000;
	color: #FFF;
}

.bg_red {
	background-color: #F44336;
}

.bg_orange {
	background-color: #FF6D00;
}

.bg_yellow {
	background-color: #FFEB3B;
}

.bg_green {
	background-color: #4CAF50;
}

.bg_blue {
	background-color: #2196F3;
}

.c_white {
	color: #FFF;
}

#footer {
	color: #FFF;
	text-align: center;
	font-size: 10px;
}
